body {
    background: url(http://hinhnenpowerpointdep.com/uploads/images/tuyen-tap-30-hinh-nen-powerpoint-dep-tuyet-voi-ve-ngay-tet-1484150078-1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.w-100-per {
    width: 100%;
}
.margin-top-100 {
    margin-top: 100px;
}
.btn_play button {
    background-image: url(http://118.70.128.67:85/assets/images/bingo/btn_play6.png);
    position: absolute;
    width: 190px;
    height: 190px;
    top: 48px;
    left: 88px;
    border-radius: 120px;
}
#img_play {
    width: 285px;
    height: 285px;
}
.resultNumber {
    list-style: none;
    margin: 6px;
    border-radius: 100px;
    width: 113px;
    height: 109px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 109px;
    background-image: url(http://118.70.128.67:85/assets/images/bingo/result2.png);
    margin: 0 auto;
}
td {
    text-align: center;
}
td.selected {
    color: white !important;
    font-size: 13px;
    font-weight: bold;
    /*background-color: red !important;*/
    background: url(https://image.ibb.co/fzxWsG/result1.png);
    background: url(https://image.ibb.co/fD0LMb/result3.png);
    background: url(https://image.ibb.co/ge6XZw/result2.png);
}
.img_play {
    -webkit-animation: rotation 1s infinite linear;
}
.margin-top-25 {
    margin-top: 25px;
}
table,
tbody,
tr,
td {
    border: none !important;
}
.table {
    width: 450px !important;
    height: 500px !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    background-color: #f2f2f2;
    border-radius: 50%;
    font-size: 22px;
    color: #bfbfbf;
    font-family: serif;
}
@media only screen and (max-width : 1199px) {
    .btn_play button {
        left: 63px;
    }
}